<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="SHORTCUT ICON" href="/favicon.ico">
    <link rel="stylesheet" href="<?=PATH_PREFIX?>/css/app.css" type="text/css">
    <script src="<?=PATH_PREFIX?>/js/jquery-3.6.0.min.js"></script>

    <title><?=$title?></title>

</head>
<body data-barba="wrapper">

<h1>MUMOK</h1>

<main data-barba="container" data-barba-namespace="home">

    <?=$content?>

</main>

<footer>
&copy; 2021
</footer>

</body>
<?php
//new HotReloader\HotReloader('//localhost:1199/phrwatcher.php');
?>
</html>