<?php
layout('default');

#$links = query('*[_id=="$id"]{articles[]->, pix[]->}[0]', ['id' =>$_id]);
#var_dump($links);
$links = [];
$title = $originaltitle ?? $title_de ?? $title_en ?? 'k.a.'; 
?>
<section>
<h2><?=$title?></h2>

<p><?=$text?></p>
<?if($default_image){?>
	<img src="<?=$default_image?>">
<?}?>
<ul>
	<?if($artists)foreach($artists as $artref){
		$art = $ref($artref);
		
		?>
		<li><a href="<?=$path($art)?>"> <?=$art['firstname']?> <?=$art['familyname']?></a></li>
	<?}?>
</ul>

</section>